.timer-wrapper {
    height: 150px;
}

.timer-title-wrapper {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-content-wrapper {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timer-content {
    font-size: 3rem;
}

.scoreboard-wrapper {
    height: 220px;
}

.scoreboard-title-wrapper {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreboard-content-wrapper {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#scoreboardContent {
    font-size: 6rem;
}